.formatoRequerimiento >.table{
    width: 90%;
    border: 1px solid #000;
    margin: auto;
  }
.formatoRequerimiento > .table > table > tbody > tr{
    width: 25%;
}

.formatoRequerimiento > .table > table > tbody > tr > td{
  width: 25%;
}

.cabeceraRequerimiento{
  height: 40px;
  background-color: skyblue;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  color: darkslateblue;
}

.formatoRequerimiento{
  border: 1px solid skyblue;
  margin: 10px;
  padding: 10px;
}

.cabeceraSubProyecto{
  height: 40px;
  background-color: palegreen;
  margin: -10px -10px 0 -10px;
  padding: 5px;
  color: darkgreen;
}

.formatoSubproyecto{
  border: 1px solid palegreen;
  margin: 10px;
  padding: 10px;
}

.cabeceraProyecto{
  height: 40px;
  background-color: navy;
  margin: -10px -10px 0 -10px;
  padding: 10px;
  color: white;
}

.formatoProyecto{
  border: 1px solid navy;
  margin: 10px;
  padding: 10px;
}