.navi{
    background-color: rgba(147, 212, 255, 0.137);
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 0 16px;
}

li{
    padding: 8px 16px;
    border-left: 1px solid rgba(0,0,0,.15);
    
}

li:hover{
    background-color: rgba(224, 224, 224, 0.651);
}

.sistema{
    margin: 0 auto;
}