.areaCrear2{
    height: 35%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 0px; */
}
.areaCrear3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

/* .textComentario-prop{
    width: 100%;
    height: 95%;
} */

.cont-boton-prop{
    /* height: 105%; */
    font-size: 2px;
    display: flex;
    align-items: center;
    padding: 0;
}