.contenedor-grafico{
    text-align: center;
    width: 85%;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0 / 29%);
    margin-top: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.titulo-grafico{
    height: 40px;
    background-color: rgb(222, 222, 222);
    padding: 7px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    font-size: 18px;
    font-family: sans-serif;
}

.contenedor-dos-graficos{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.cuadroColor{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid black;
}