.navi{
    /* background-color: rgba(134, 186, 221, 0.137); */
    background-color: rgba(156, 156, 156, 0.336);
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 0 16px;
    list-style: none;
    color: black;
}

.Navigation a{
    color: rgb(70, 70, 70);
}

.Navigation a:hover{
    color: rgb(0, 0, 0);
}

.Navigation li{
    padding: 8px 16px;
    border-left: 1px solid rgba(0,0,0,.15);
}

.Navigation li:hover{
    /* background-color: rgba(224, 224, 224, 0.651); */
    background-color: rgba(88, 88, 88, 0.236);
}

.Navigation .seleccionado{
    background-color: rgba(122, 122, 122, 0.411);
}

.Navigation .seleccionado:hover{
    background-color: rgba(88, 88, 88, 0.336);
}

.Navigation .seleccionado > a{
    color: rgb(0, 0, 0);
}


.Navigation .sistema{
    margin: 0 auto;
}

.Navigation .desplegable{
    position: absolute;
    right: 5px;
}

.Navigation .subMenu{
    position: absolute; 
    right: 0;
    left: auto;
}