.Encabezado{
    font-size: 45px;
    text-align: center;
    color: white;
}

.Encabezado > p{
    border-bottom: 1px solid rgba(0,0,0,.15);
    -webkit-text-stroke: 1px rgb(70, 70, 70);;
}

table{
    margin: 30px auto;
    text-align: center;
}

.paginado{
    margin: 0 auto;
}

.boton{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.342);
}

.boton:hover{
    text-decoration: none;
    background-color: #888;
    color: #fff;
}

a:hover{
    text-decoration: none;
}