.Encabezado{
    font-size: 45px;
    text-align: center;
    color: white;
}

.Encabezado > p{
    border-bottom: 1px solid rgba(0,0,0,.15);
    -webkit-text-stroke: 1px rgb(70, 70, 70);;
}

.cabeceraRR {
    text-align: center;
}

.table{
    margin: 30px auto;
    text-align: center;
}

.paginado{
    margin: 0 auto;
}

.boton{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.342);
}

.botonpurple{
    background-color: rgb(129, 53, 148);
    color: #fff;
}

.botonpurple:hover{
    background-color: rgb(92, 38, 105);
    color: #fff;
}



.boton:hover{
    text-decoration: none;
    background-color: #888;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

.input-filtrarTabla{
    float: right;
    width: 20%;
    margin-top: -131px;
    margin-bottom: 15px;
}